section{
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.box-esquerda{
    background-color: #3fcfab;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80%;
    width: 40vw;
    height: 100%;
    color: white;
    font-size: 18pt;
}
.box-direita{
    width: 60vw;
    height: 100%;
}

.box-interna-esquerda{
    width: 70%; 
    margin-top: 40%;
    margin-left: 15%;
    font-family: 'Times New Roman', Times, serif;
}

.box-interna-esquerda p{
    color: rgb(240, 239, 239);
    font-size: 14pt;
    text-align: center;
}

.box-interna-esquerda button{
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: white;
    margin-top: 25px;
    margin-left: 35%;
}


.box-interna-direita{
    /* background-color: khaki; */
    width: 70%;
    margin-left: 15%;
    height: 80%;
    margin-top: 10%;
}
.box-interna-direita h1{
    color: #3cb99a;
    font-size: 32pt;
    text-align: center;
}

.box-interna-direita input{
    width: 90%;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 12px;
    font-size: 12pt;
    border: 1px solid gray;
}

.box-interna-direita button{
    padding:  10px 10px;
    width: 50%;
    border-radius: 10px;
    background-color: #3fcfab;
    border: 1px solid #ffffff;
    font-size: 16pt;
    color: #fff;
    margin-top: 25px;
    margin-left: 25%;
}


.box-interna-direita button:hover, .box-interna-esquerda button:hover{
    background-color: rgb(155, 154, 154);
    border: none;
    cursor: pointer;
}