<section>
    <div class="box-esquerda">
        <div  class="box-interna-esquerda">
            <h1 style="text-align: center;">Seja bem vindo!</h1>
            <p>Se você ja possui conta, clique no botão a baixo para conectar-se.</p>
            <button>Conectar-se</button>
        </div>
    </div>
    <div class="box-direita">
        <div class="box-interna-direita">
            <h1>Criar Conta</h1>
            <input type="text" placeholder="Nome Completo">
            <input type="text" placeholder="Data Nascimento">
            <input type="text" placeholder="Curso">
            <input type="text" placeholder="Período">
            <button>
                Cadastrar-se
            </button>
        </div>
    </div>
</section>

