<section>
    <div class="box-esquerda">
        <div class="box-interna-esquerda">
            <h1 style="text-align: center;">Seja bem vindo!</h1>
            <p>Se você ja possui conta, clique no botão a baixo para conectar-se.</p>
            <button (click)="abrirTelaLogin()">Efetuar Login</button>
        </div>
    </div>
    <div class="box-direita">
        <div class="box-interna-direita" *ngIf="usuario">
            <h1>Cadastre-se aqui</h1>
            <input type="text" [(ngModel)]="usuario.nome" placeholder="Nome Completo">
            <input type="text" [(ngModel)]="usuario.senha" placeholder="Senha">
            <input type="text" [(ngModel)]="usuario.dataNascimento" placeholder="Data Nascimento">

            <select name="cursos" id="cursos" [(ngModel)]="cs">
                <option *ngFor ="let c of cursos" value={{c.nomeCurso}}>{{c.nomeCurso}}</option>
              </select>
            <input type="text" [(ngModel)]="usuario.periodo" placeholder="Período">
            <button (click)="cadastrar()">
                Cadastrar-se
            </button>
        </div>
    </div>
</section>