<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<section>
    <div class="box-esquerda">
        <div class="box-interna-esquerda">
            <h1>Login</h1>
            <input type="text" placeholder="Usuário">
            <input type="text" placeholder="Senha">
            <button>
                Entrar
            </button>
        </div>
    </div>
    <div class="box-direita">
        <div  class="box-interna-direita">
            <h1 style="text-align: center;">Seja bem vindo!</h1>
            <p>Se você não possui conta, clique no botão a baixo para cadastrar-se.</p>
            <button  (click)="abrirTelaLogin()">Cadastrar-se</button>
        </div>
    </div>
</section>