<div class="tela">
    <div class="login">
        <form #formConectar="ngForm">
            <div class="form-group">
                <h1>LOGIN</h1>
                <ul>
                    <li>
                        <h2>Usuario:</h2>
                        <input 
                            type="text" 
                            placeholder="Digite o seu username.."
                            id="username"
                            name="username"
                            [(ngModel)]="usuario.username"
                            required>
                    </li>
                    <li>
                        <h2>Senha:</h2>
                        <input 
                            type="text" 
                            placeholder="Digite a sua senha.."
                            id="senha"
                            name="senha"
                            [(ngModel)]="usuario.senha"
                            required>
                    </li>
                </ul>
                <input
                    class="btn"
                    (click)="realizarLogin()"
                    value="Conectar-se">
                <div class="botao_login_cadastro">
                    <p>Ainda não possui conta, Clique ao lado!</p>
                    <button (click)="abrirTelaLogin()" >Cadastrar-se
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>