.tela{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.login{
    width: 40vw;
    height: auto;
    margin-top: 18vh;
    background-color:#f8f6f6;
    border-radius: 7px;
    border: solid 3px #00d5e4;
}

h1{
    padding: 15px;
    text-align: center;
    font-size:26pt;
    font-family:Helvetica, sans-serif;
    text-decoration-color: #00d5e4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #038791;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #038791;
}

input{
    width: 90%;
    height: 30px;
    margin-left: 5%;
    margin-bottom: 25px;
    border-radius: 4px;
    color: black;
}

ul{
    list-style: none;
}

li h2{
    margin-left: 5%;
    text-decoration: none;
    font-size: 20pt;
}

.btn{
   background-color: #00d5e4;
   font-size: 18pt;
    opacity: 100%;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}
.btn:hover{
    cursor: pointer;
}

.botao_login_cadastro{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
}

.botao_login_cadastro p{
    margin-right: 5px;
    height: auto;
}

.botao_login_cadastro button{
    background-color:#f8f6f6;
    font-size: 10pt;
    margin-right: 5%;
    color: #038791;
    border-radius: 2px;
    border: 1px solid black;
}

.botao_login_cadastro button:hover{
    cursor: pointer;
}