@import url('https://fonts.google.com/specimen/Oswald#standard-styles');
*{
    font-family: 'Oswald',
}

section{
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.box-direita{
    background-color: #3fcfab;
    width: 60vw;
    height: 100%;
    color: white;
    font-size: 18pt;
}
.box-esquerda{
    width: 40vw;
    height: 100%;
}

.box-interna-direita{
    width: 70%; 
    height: 20%;
    margin-top: 30%;
    margin-left: 15%;
    font-family: 'Times New Roman', Times, serif;
}

.box-interna-direita p{
    color: rgb(240, 239, 239);
    font-size: 14pt;
    text-align: center;
}

.box-interna-direita button{
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: white;
    margin-top: 25px;
    margin-left: 35%;
}


.box-interna-esquerda{
    width: 70%;
    margin-left: 15%;
    height: 40%;
    margin-top: 35%;
}
.box-interna-esquerda h1{
    color: #3cb99a;
    font-size: 32pt;
    text-align: center;
}

.box-interna-esquerda input{
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 12px;
    font-size: 12pt;
    border: 1px solid gray;
}

.box-interna-esquerda button{
    padding: 10px 10px;
    width: 60%;
    border-radius: 10px;
    background-color: #3fcfab;
    border: 1px solid #ffffff;
    font-size: 16pt;
    color: #fff;
    margin-top: 25px;
    margin-left: 18%;
}


.box-interna-esquerda button:hover, .box-interna-direita button:hover{
    background-color: rgb(155, 154, 154);
    border: none;
    cursor: pointer;
}